/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*https://docs.oracle.com/javafx/2/get_started/css.htm */

#upper {
	-fx-background-color: transparent;
}
#lower {
	-fx-background-image: url("../../resources/img/NightSky.gif");
}
#hboxbtns {
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 14px;
	-fx-background-image: url("../../resources/img/smplayer.png");
	-fx-background-color: transparent;
}
#pausescreen {
    -fx-background-color: transparent;
}
#pauselbl {
	-fx-text-fill: F5F5DC;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 70px;
    -fx-background-color: transparent;
}
#hboxbtns:hover {

    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 16px;
    -fx-background-color: transparent;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
#bgg {
	-fx-background-image: url("../../resources/img/undo.png");
}
#undo{
  -fx-background-image: url("../../resources/img/undo.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#redo{
  -fx-background-image: url("../../resources/img/redo.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#options{
  -fx-background-image: url("../../resources/img/options.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#home{
  -fx-background-image: url("../../resources/img/exitbtn.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#small{
  -fx-background-image: url("../../resources/img/small.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#small:selected {
  -fx-background-image: url("../../resources/img/big.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#small:hover {

    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
#pause{
	  -fx-background-image: url("../../resources/img/pause.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#pause:selected {
  -fx-background-image: url("../../resources/img/play.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-color: transparent;
}
#pause:hover {

    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
.button:hover {

    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
#endGame{
	-fx-background-image: url("../../resources/img/lilbg.png");
}
#endText {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#statistics {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}
#scoretime {
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 15px;
}
.toggle-button:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 7 , 0.0 , 0 , 1);
}
.toggle-button {
  -fx-background-image: url("../../resources/img/musicon.png");
  -fx-background-repeat: no-repeat;
  -fx-background-position: center;
   -fx-background-color: transparent;
}

.toggle-button:selected {
  -fx-background-image: url("../../resources/img/musicoff.png");
  	-fx-background-color: transparent;
}
#mute:hover {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
#mainMenu:hover {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
#playAgain:hover {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}

#time{
	-fx-text-fill: #d4cb26;
	-fx-text-alignment: center;
	-fx-font-family: 'Arial Black';
	 -fx-font-size: 20px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}
#team1,#team2{
	-fx-text-alignment: center;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 17px;
}
#team1{
	-fx-text-fill: #29b514;
}
#team2{
	-fx-text-fill: #11a1ba;
	
}


