/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*https://docs.oracle.com/javafx/2/get_started/css.htm */

.root {
	-fx-background-image: url("../../resources/img/bg.png");
}
.label {
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
}

#Back {
	-fx-background-image: url("../../resources/img/lillilbg.png");
}

#newGameBack {
	-fx-background-image: url("../../resources/img/newgamemenu.png");	
	
}
#optionsbg {
	-fx-background-image: url("../../resources/img/optionsbg.png");	
	
}
.button {

	-fx-background-color: transparent;
	-fx-background-image: url("../../resources/img/buttonLong_brown_pressed.png");
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
}
#lblControls{
	-fx-font-size: 20px;
}
#lblIKeys{
	-fx-font-size: 18px;
		-fx-background-image: url("../../resources/img/optionsbtn.png");
}
#lblError{
	-fx-font-size: 20px;
}
#lblError1{
	-fx-font-size: 20px;
}
#Title {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}
#underTitle {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 20px;
    -fx-font-weight: bold;

}
.button:hover {
    -fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 28px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}

#mplayer:hover {
	-fx-font-size: 22px;
}

#splayer:hover {
	-fx-font-size: 22px;
}

#btnReturn:hover {
	-fx-font-size: 16px;
	-fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}

#btnExit:hover {
	-fx-font-size: 13.7px;
	-fx-text-fill: DAA520;
    -fx-font-family: 'Arial Black';
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5 , 0.0 , 0 , 1);
}

#btnReturn {
	-fx-background-image: url("../../resources/img/return.png");
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
}

#btnSimp {
	-fx-background-image: url("../../resources/img/return.png");
    -fx-font-size: 8px;

}
#splayer {
	
	-fx-background-image: url("../../resources/img/smplayer.png");
}
#mplayer {
	
	-fx-background-image: url("../../resources/img/smplayer.png");
}
#btnExit {
	
	-fx-background-image: url("../../resources/img/yesno.png");
}
#cboxRules {
	-fx-background-image: url("../../resources/img/cboxRules.png");
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
}
#cboxDiff {
	-fx-background-image: url("../../resources/img/cbox.png");
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
}
#cboxTheme {
	-fx-background-image: url("../../resources/img/cbox.png");
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
}
#hb {
	-fx-background-image: url("../../resources/img/bg.png");
	-fx-text-fill: FFDEAD;
    -fx-font-family: 'Arial Black';
    -fx-font-weight: bold
	
}

#endText {
	 -fx-text-fill: YELLOW;
    -fx-font-family: 'Arial Black';
    -fx-font-size: 50px;
    -fx-font-weight: bold;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}



